*{
    padding: 0;
    margin: 0;
}
body{ font-family: "Montserrat", sans-serif;
}
.container{
    padding: 50px;
}
.section-one{
    background-color:#141e30;
    color:#ffffff;
    padding: 20px;
}
.section-one__contact{
    background-color:brown;
    color: aliceblue;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
padding-top: 5px;
padding-bottom: 5px;
display: inline-block;
margin-top: 10px;
}
.section-one__name{
    font-size: 60px;
}
.section-one__role{
    font-size: 30px;
margin-top: 10px;
}
.section-two,.section-three,.section-four,.section-five
{
    margin-top: 20px;
}
.section-two__info,.section-three__info,.section-four__info,.section-five__info
{
    margin-top: 10px;

}
.section-five{
    background-color: rgb(95, 99, 110);
    color:#e0e0e0;
    padding: 20px;
}

.section-five__title a{
    color: skyblue;
}
.section-three li,.section-four li{
list-style: none;
}
.section-three{
    background-color: rgb(141, 141, 103);
    color: black;
padding: 20px;
display: inline-block;
height: 200px;
width: 100px;
border-radius: 10px;
vertical-align:top ;}

.section-four{
    background-color: rgb(144, 184, 171);
    color: black;
    padding: 20px;
display: inline-block;
height: 200px;
width: 600px;
border-radius: 10px;
vertical-align: top;}
.contact-form{
    margin-top: 20px;
}
.contact-form__input,.contact-form__textarea,.contact-form__submit{
    margin-top: 10px;
}
.contact-form__input{
    padding: 10px;
    border: none;
    border-bottom: solid black 1px;
}
.contact-form__submit{
    
    background-color:rgb(184, 66, 66);
 color: aliceblue;
   
    padding-left: 10px;
    padding-right: 10px;
padding-top: 10px;
padding-bottom: 10px;
margin-top: 10px;
border: none;
}
textarea{
    padding: 10px;
padding-top: 8px;}